body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: auto;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header, footer {
    flex-shrink: 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.nav-link {
    padding: 5px 10px;
}

main {
    padding: 20px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.jumbotron {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: relative; /* Changed from fixed to relative */
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    background-color: #f8f9fa;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
}

.sidebar .list-group-item {
    border: 1px solid #ccc;
    margin-bottom: 1px;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 0;
}

.sidebar .list-group-item a {
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar .list-group-item i {
    margin-right: 10px;
}

.right-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 15px;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.profile-header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}
.profile-details {
    margin: 20px 0;
}